@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;1,100;1,200;1,600&family=Roboto:wght@400;700&display=swap');

/* Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all .1s ease-in;
}

/* Reset end */

/* Variable */

:root{
    --color-red: #FF8984;
    --color-white: #ffffff;
    --main-fonts: Roboto, sans-serif;
    
}

/* Variable end*/


/* Global style */

.container{
    padding: 0 16px;
    margin: 0 auto;
    max-width: 1280px;
    min-width: 380px;
}

/* Global style end */

/* Header */

.header {
    background-color: #4A4F56;
    height: 82px;
}

.header__title{
    color: var(--color-red);
    text-align: center;
    padding-top: 19px;
}

.header__text{
    color: var(--color-red);
    text-align: center;
}



/* Header end */

/* Table */

.list{
    color: var(--color-white);
    display: inline; 
    font-size: 18px;
}

.note{
    color: var(--color-white);
    display: inline;
    font-size: 11px;
}

.table{
    background-color: #3B3F45;
    margin: 0 auto;
    padding: 20px;
}

.table__item{
    height: 45px;
    padding: 10px 12px ;
    background-color: #88839E;
}

/* .table__item:last-child{
    padding: 10px auto;
} */

.note:after{
    content: ")";
}

.note:before {
    content: "(";
}

.container .table__item:hover {
    background-color: #625E77;
    border: solid;
    border-left: 0;
    border-right: 0;
    border-color: #ffffff;
    cursor: pointer;
}

/*
.container .table__item:hover{
    background-color: #625E77;
    border: 20px;
    border-color: #ffffff;
}
 */   
.container .table__item:active{
    background-color: var(--color-red);
}

.table__item input:checked ~ p{
    text-decoration: line-through;
 }

/* .note.table__item */
.table__item:nth-child(2n){
    background-color: #7A7593;
    
} 

.last {
    background-color: #4A4F56;
    height: 45px;
    /*width: 543px;*/
    margin-top: 45px;
    color: var(--color-red);
    text-align: center;
    padding: 12px;
}
/* Table end*/

